<template>
  <section class="flex-box separator margin-top" v-if="!!operatingSystem && !!version">
    <div class="label label-first">Profil sprzętowy:</div>
    <div class="tabs">
      <nav>
        <a
          v-for="(cluster, index) in version.clusters"
          @click="clusterSelected(cluster, index)"
          :class="{ active: isTabActive === index }"
          :key="index"
        >
          {{ cluster.name }}
        </a>
      </nav>
      <div class="tabs-content">
        <div class="tab" v-if="!!selectedCluster">
          <p>
            {{ selectedCluster.description }}
          </p>
          <div class="configuration">
            <section class="flex-box">
              <div class="parameter">vCPU</div>
              <div class="slider-param">
                <div ref="cpuSlider"></div>
              </div>
              <input type="text" class="capacity margin-left" v-model="selectedCpu" readonly />
            </section>
            <section class="flex-box">
              <div class="parameter">RAM</div>
              <div class="slider-param">
                <div ref="ramSlider"></div>
              </div>
              <input type="text" class="capacity margin-left" v-model="selectedRam" readonly />
              <span class="unit">GB</span>
            </section>
            <section class="flex-box">
              <div class="parameter">Dysk podstawowy</div>
              <div class="slider-param">
                <div ref="primaryDiskSlider"></div>
              </div>
              <select id="basic-disc-type" class="disc">
                <option>HDD</option>
                <option>SSD</option>
              </select>
              <input type="text" class="capacity" v-model="selectedPrimaryDisk" readonly />
              <span class="unit">GB</span>
            </section>

            <section class="flex-box" v-for="(disk, index) in additionalDisks" :key="index">
              <div class="parameter">Dysk dodatkowy {{ index + 1 }}</div>
              <div class="slider-param">
                <div :ref="`additionalDisk${disk.id}`"></div>
              </div>
              <select class="disc">
                <option>HDD</option>
                <option>SSD</option>
              </select>
              <input type="text" class="capacity" readonly v-model="disk.value" />
              <span class="unit">GB</span>
              <i class="icon-garbage remove" @click="removeAdditionalDisk(index)"></i>
            </section>

            <section class="new-disc-section" v-if="additionalDisks.length < maxAdditionalDisks">
              <button id="add-new-disc" class="add-new-disc" @click="addAdditionalDisk()">+ DODAJ DYSK</button>
              <div class="info">
                Dodałeś
                <span>{{ additionalDisks.length }}</span> /
                <span>{{ maxAdditionalDisks }}</span>
              </div>
            </section>

            <p class="info" v-if="additionalDisks.length >= maxAdditionalDisks">
              <span>Dodałeś {{ additionalDisks.length }}/{{ maxAdditionalDisks }} dysków.</span> W celu zwiększenia
              ilości -
              <a href="#">skontaktuj się z nami.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Emit, Watch, Vue } from 'vue-property-decorator';
import noUiSlider from 'nouislider';

@Component({
  props: ['operatingSystem', 'version'],
})
export default class ClusterParametersSelector extends Vue {
  selectedCluster: any = null;
  isTabActive = -1;
  selectedCpu = 0;
  selectedRam = 0;
  selectedPrimaryDisk = 0;
  maxAdditionalDisks = 0;
  newAdditionalDiskId = 0;
  additionalDisks: any = [];

  @Watch('version')
  onVersionChanged(val: any) {
    if (val && val.clusters) {
      this.clusterSelected(val.clusters[0], 0);
    }
  }

  @Watch('selectedCpu')
  @Watch('selectedRam')
  @Watch('selectedPrimaryDisk')
  @Watch('additionalDisks', { immediate: true, deep: true })
  onParametersChanged() {
    this.parametersChanged();
  }

  @Emit()
  parametersChanged() {
    return {
      profile: this.selectedCluster,
      cpu: this.selectedCpu,
      ram: this.selectedRam,
      primaryDisk: this.selectedPrimaryDisk,
      additionalDisks: this.additionalDisks,
    };
  }

  @Emit()
  clusterSelected(cluster: any, index: number) {
    this.selectedCluster = cluster;
    this.isTabActive = index;
    this.additionalDisks = [];
    this.newAdditionalDiskId = 0;
    this.maxAdditionalDisks = cluster['max_additional_disks'];
    this.initSliders();
    return cluster;
  }

  createSlider(ref: any, options: any) {
    const slider = (this.$refs[ref] as any)[0] || (this.$refs[ref] as any);
    if (slider.noUiSlider) {
      slider.noUiSlider.updateOptions({
        start: [options.min],
        range: { min: options.min, max: options.max },
      });
    } else {
      noUiSlider.create(slider, {
        start: [options.min],
        connect: [true, false],
        range: { min: options.min, max: options.max },
        step: 1,
      });
    }
    return slider.noUiSlider;
  }

  createDynamicSlider(id: number, index: number) {
    this.$nextTick().then(() => {
      const resources = this.selectedCluster.resources;
      this.createSlider(`additionalDisk${id}`, resources.additional_disk).on('update', (value: any) => {
        this.additionalDisks[index].value = parseInt(value, 10);
      });
    });
  }

  initSliders() {
    this.$nextTick().then(() => {
      const resources = this.selectedCluster.resources;
      this.createSlider('cpuSlider', resources.cpu).on('update', (value: any) => {
        this.selectedCpu = parseInt(value, 10);
      });
      this.createSlider('ramSlider', resources.ram).on('update', (value: any) => {
        this.selectedRam = parseInt(value, 10);
      });
      this.createSlider('primaryDiskSlider', resources.primary_disk).on('update', (value: any) => {
        this.selectedPrimaryDisk = parseInt(value, 10);
      });
    });
  }

  addAdditionalDisk() {
    this.newAdditionalDiskId += 1;
    this.additionalDisks.push({ id: this.newAdditionalDiskId, value: 0 });
    this.createDynamicSlider(this.newAdditionalDiskId, this.additionalDisks.length - 1);
  }

  removeAdditionalDisk(index: number) {
    this.additionalDisks.splice(index, 1);
  }
}
</script>

<style lang="scss">
@import '~nouislider/distribute/nouislider.min.css';

input[type='text'],
input[type='number'],
select {
  border: 1px solid #d6d6d6;
  padding: 5px 12px;
  box-sizing: border-box;
}
select {
  padding: 5px;
}
h2 {
  font-size: 22px;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #d6d6d6;
  font-weight: 500;
  position: relative;
  letter-spacing: -0.5px;
  .icon-arrow-left {
    position: absolute;
    top: 8px;
    left: -31px;
    font-size: 12px;
  }
}
.new-disc-section {
  text-align: right;
  margin-top: -15px;
  .add-new-disc {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    width: 124px;
    height: 30px;
    border: 1px solid #009cf2;
    background-color: #fff;
    color: #009cf2;
    cursor: pointer;
  }
  .info {
    display: inline-block;
    font-size: 11px;
    margin-left: 18px;
    margin-right: 10px;
  }
}

.flex-box {
  display: flex;
  padding-bottom: 15px;

  .label {
    width: 135px;
    text-align: right;
    line-height: 26px;
    margin-right: 34px;
    padding-top: 5px;
  }
  .label-first {
    padding-top: 20px;
  }

  &.separator {
    border-top: 1px solid #d5d5d5;
    padding: 25px 0;
  }
  &.margin-top {
    margin-top: 29px;
  }
  .tabs {
    nav a {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      line-height: 35px;
      height: 35px;
      width: 25%;
      border-bottom: 1px solid #d5d5d5;
      color: #000;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      &.active {
        border-bottom: none;
        border-top: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;
        color: #009cf2;
      }
    }
    p {
      max-width: 690px;
      line-height: 25px;
      padding: 10px 0;
    }
    .configuration {
      background-color: #fdfdfd;
      border: 1px solid #e2e2e2;
      box-sizing: border-box;
      padding: 40px 50px;
      .info {
        text-align: center;
        margin-top: 0;
        padding-top: 0;
        span {
          font-weight: bold;
        }
        a {
          color: #000;
        }
      }
      .flex-box {
        height: 72px;
        padding-bottom: 0;
        .parameter {
          width: 85px;
          margin-right: 25px;
        }
        .slider-param {
          width: 305px;
          margin-top: 12px;
          margin-right: 20px;
          .noUi-horizontal {
            height: 2px;
            border: none;
            .noUi-handle {
              width: 19px;
              height: 19px;
              border-radius: 50%;
              border: 3px solid #009cf2;
              background: #fff;
              margin-top: -2px;
              -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.15);
              -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.15);
              box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.15);
              &:after,
              &:before {
                display: none;
              }
              &:focus {
                outline: none;
              }
            }
            .noUi-connect {
              background: #76c4ef;
            }
          }
        }
        .capacity {
          width: 60px;
          height: 30px;
          font-weight: bold;
          font-size: 14px;
          &.margin-left {
            margin-left: 63px;
          }
        }
        .disc {
          width: 65px;
          height: 30px;
        }
        .unit {
          font-size: 12px;
          margin: 10px;
          color: #6a6a6a;
        }
        .remove {
          font-size: 24px;
          display: inline-block;
          margin-left: 27px;
          cursor: pointer;
        }
      }
    }
  }
  .instance-quantity {
    width: 60px;
    height: 30px;
    text-align: center;
  }
  .instance-names {
    width: 400px;
    margin-left: 65px;
    label {
      display: inline-block;
      margin-right: 20px;
    }
    .instance-quantity-name {
      width: 316px;
      margin: 3px 0;
      height: 30px;
    }
  }
  .switch {
    margin-top: 15px;
  }
  .profile-ID-description p {
    margin: 6px;
    padding: 0;
  }
}

// custom radio buttons

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.radio-container {
  display: block;
  position: relative;
  padding: 3px 24px 0 35px;
  margin-top: 6px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
      background-color: #2196f3;
    }
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    &:after {
      top: 6px;
      left: 6px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: white;
    }
  }
}

// custom switch toggle

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #c7c2c2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 0;
    bottom: 0;
    background-color: #ccc;
    background-image: none;
    background-repeat: repeat;
    background-position: center center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:checked + .slider:before {
  background-color: #2196f3;
  background-image: url('../../assets/icons/ok.png');
  background-repeat: no-repeat;
  background-position: center center;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
