<template>
  <div class="overlay">
    <div class="dialog">
      <h2>Lista dostepnych kluczy SSH</h2>
      <div class="available-keys">
        <span class="label">Wybierz klucze z listy:</span>
        <section class="flex-box">
          <div class="key" v-for="(keys, index) in deactivatdKeys" :key="index" :value="keys">
            <p class="key-name">{{ keys.name }}</p>
            <span>{{ keys.fingerprint }}</span>
            <div class="add" @click="activateKey(index, keys.name, keys.fingerprint)">+</div>
          </div>
        </section>
        <span class="label">lub dodaj nowy klucz SSH:</span>
        <section class="flex-box new-key">
          <input id="new-key-name" v-model="newKeyName" class="new-key-name" name="new-key-name" />
          <div class="add" @click="addNewKey()">+</div>
        </section>
      </div>
      <div class="chosen-keys">
        <span class="label">Wybrane klucze:</span>
        <section class="flex-box">
          <div class="key" v-for="(keys, index) in activatdKeys" :key="index" :value="keys">
            <p class="key-name">{{ keys.name }}</p>
            <span>{{ keys.fingerprint }}</span>
            <span @click="removeKey(index, keys.name, keys.fingerprint)" class="icon-garbage remove"></span>
          </div>
        </section>
      </div>
      <button type="button" class="btn cancel" @click="onClose()">ANULUJ <span class="icon-arrow-right"></span></button>
      <button type="button" class="btn save">ZAPISZ <span class="icon-arrow-right"></span></button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';
import { newVirtualMachineService } from '@/components/new-virtual-machine/services/NewVirtualMachineService';

@Component
export default class KeysConfigurationDialog extends Vue {
  deactivatdKeys: any = [];
  activatdKeys: any = [
    {
      id: 4,
      name: 'Klucz Służbowy',
      fingerprint: '00:11:22:33:44:55:66:77:88:99:aa:bb:cc:dd:ee:ff',
    },
  ];
  newAdditionalKeyId = 0;
  newKeyName = '';

  mounted() {
    newVirtualMachineService.getData().then((data: any) => {
      this.deactivatdKeys = data.ssh_keys;
    });
  }

  activateKey(index: number, keyName: string, fingerPrint: string) {
    this.activatdKeys.push({ id: index, name: keyName, fingerprint: fingerPrint });
    this.deactivatdKeys.splice(index, 1);
  }

  addNewKey() {
    this.newAdditionalKeyId += 1;
    this.deactivatdKeys.push({
      id: this.newAdditionalKeyId,
      name: this.newKeyName,
      fingerprint: '00:11:22:33:44:55:66:77:88:99:aa:bb:cc:dd:ee:ff',
    });
  }

  removeKey(index: number, keyName: string, fingerPrint: string) {
    this.activatdKeys.splice(index, 1);
    this.deactivatdKeys.push({ id: index, name: keyName, fingerprint: fingerPrint });
  }

  @Emit()
  onClose() {
    return;
  }
}
</script>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.dialog {
  position: fixed;
  background: #fff;
  padding: 50px;
  box-sizing: border-box;
  top: 200px;
  left: 50%;
  width: 1060px;
  margin-left: -475px;
  z-index: 20;
  h2 {
    font-size: 22px;
    margin: 0 0 15px 0;
    padding: 0px 0 15px 0;
    border-bottom: 1px solid #d6d6d6;
    font-weight: 500;
    position: relative;
    letter-spacing: -0.5px;
  }
  .available-keys,
  .chosen-keys {
    float: left;
    width: 50%;
  }
  .label {
    width: 100px;
    display: inline-flex;
    text-align: right;
    line-height: 20px;
    margin-right: 37px;
    padding-top: 5px;
  }
  .flex-box {
    display: inline-flex;
    flex-direction: column;
    width: 340px;
    position: relative;
    padding-bottom: 30px;
    .key {
      flex-direction: column;
      border-bottom: 1px solid #d5d5d5;
      padding-bottom: 12px;
      position: relative;
      .key-name {
        margin-bottom: 0;
        width: 210px;
      }
      span {
        color: #707070;
      }
    }

    .new-key-name {
      display: inline-flex;
      position: absolute;
      top: 15px;
      left: 0;
      padding: 0 15px;
      width: 250px;
      height: 32px;
      border: 1px solid #d6d6d6;
    }
  }
  .add {
    border: 1px solid #009cf2;
    position: absolute;
    top: 15px;
    right: 4px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-weight: bold;
    color: #009cf2;
    line-height: 32px;
    font-size: 18px;
    cursor: pointer;
  }
  .remove {
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 4px;
    font-size: 24px;
  }
  .btn {
    position: absolute;
    cursor: pointer;
    bottom: 55px;
    border: none;
    width: 120px;
    height: 32px;
    font-weight: bold;
    font-size: 12px;
    .icon-arrow-right {
      font-size: 10px;
      margin-left: 3px;
    }
    &:focus {
      outline: none;
    }
  }
  .save {
    color: #fff;
    right: 60px;
    background-color: #000;
  }
  .cancel {
    right: 185px;
    background-color: #fff;
  }
}
</style>
