<template>
  <div class="summary">
    <div class="inner">
      <h2>Podsumowanie</h2>
      <div v-if="!!configuration">
        <p class="summary-item" v-for="(instance, index) in configuration.instances" :key="index">
          <span class="title">Instancja{{ index + 1 }}:</span>
          <span v-if="!!instance">{{ instance }}</span>
          <span v-else>-</span>
        </p>
      </div>
      <p class="summary-item" v-if="!configuration">
        <span class="title">Instancja:</span>
        <span>-</span>
      </p>
      <p class="summary-item">
        <span class="title">Profil sprzętowy:</span>
        <span v-if="!!configuration && !!configuration.params && !!configuration.params.profile">
          {{ configuration.params.profile.name }}
        </span>
        <span v-else>-</span>
      </p>
      <p class="summary-item">
        <span class="title">Sieć prywatna:</span>
        <span v-if="!!configuration && !!configuration.network"
          >{{ configuration.network.name }} ({{ configuration.network.ip_address }})</span
        >
        <span v-else>-</span>
      </p>
      <p class="summary-item">
        <span class="title">Autoryzacja:</span>
        <span v-if="!!configuration && !!configuration.auth">{{ configuration.auth }}</span>
        <span v-else>-</span>
      </p>
      <p class="summary-item">
        <span class="title">System operacyjny:</span>
        <span class="value" v-if="!!configuration && !!configuration.system && !!configuration.version"
          >{{ configuration.system.name }} ({{ configuration.version.name }})</span
        >
        <span v-else>-</span>
        <span
          v-if="!!configuration && !!configuration.version && !!configuration.version.has_price"
          class="icon-info-1"
        >
          <span class="price-info-tooltip">${{ fixPrice(systemPrice()) }}/godz</span>
        </span>
        <span v-if="!!configuration && !!configuration.version && !!configuration.version.has_price" class="price-info"
          >${{ fixPrice(systemPrice(hoursInMonth)) }}/mc</span
        >
      </p>
      <p class="summary-item">
        <span class="title">vCPU:</span>
        <span v-if="!!configuration && !!configuration.params">{{ configuration.params.cpu }}</span>
        <span v-else>-</span>
        <span v-if="!!configuration" class="icon-info-1">
          <span class="price-info-tooltip">${{ fixPrice(cpuPrice()) }}/godz</span>
        </span>
        <span v-if="!!configuration" class="price-info">${{ fixPrice(cpuPrice(hoursInMonth)) }}/mc</span>
      </p>
      <p class="summary-item">
        <span class="title">RAM:</span>
        <span v-if="!!configuration && !!configuration.params">{{ configuration.params.ram }} GB</span>
        <span v-else>-</span>
        <span v-if="!!configuration" class="icon-info-1">
          <span class="price-info-tooltip">${{ fixPrice(ramPrice()) }}/godz</span>
        </span>
        <span v-if="!!configuration" class="price-info">${{ fixPrice(ramPrice(hoursInMonth)) }}/mc</span>
      </p>
      <p class="summary-item">
        <span class="title">Dysk podst.:</span>
        <span v-if="!!configuration && !!configuration.params">{{ configuration.params.primaryDisk }} GB</span>
        <span v-else>-</span>
        <span v-if="!!configuration" class="icon-info-1">
          <span class="price-info-tooltip">${{ fixPrice(primaryDiscPrice()) }}/godz</span>
        </span>
        <span v-if="!!configuration" class="price-info">${{ fixPrice(primaryDiscPrice(hoursInMonth)) }}/mc</span>
      </p>
      <div v-if="!!configuration && !!configuration.params">
        <p class="summary-item" v-for="(disk, index) in configuration.params.additionalDisks" :key="index">
          <span class="title">Dysk dod. {{ index + 1 }}:</span>
          <span>{{ disk.value }} GB</span>
          <span class="icon-info-1">
            <span class="price-info-tooltip">${{ fixPrice(additionalDiscPrice(disk.value)) }}/godz</span>
          </span>
          <span class="price-info">${{ fixPrice(additionalDiscPrice(disk.value, hoursInMonth)) }}/mc</span>
        </p>
      </div>
      <p class="summary-item last" v-if="!!configuration && !!configuration.ip">
        <span class="title">Dedykowany publiczny adres IP:</span>
        <span class="icon-info-1">
          <span class="price-info-tooltip">${{ fixPrice(ipPrice()) }}/godz</span>
        </span>
        <span class="price-info">${{ fixPrice(ipPrice(hoursInMonth)) }}/mc</span>
      </p>
      <div class="summary-cost-section" v-if="!!configuration">
        <p class="price-per-month">
          ${{ fixPrice(totalPrice(hoursInMonth)) }}/mc
          <span class="icon-info-1">
            <span class="price-info-tooltip">${{ fixPrice(totalPrice()) }}/godz</span>
          </span>
        </p>
        <p class="price-per-hour">${{ fixPrice(totalPrice()) }}/godz</p>
      </div>
      <button class="cta-btn">
        STWÓRZ &nbsp;
        <span class="icon-arrow-right"></span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

@Component({
  props: ['configuration'],
})
export default class NewVirtualMachineSummary extends Vue {
  clusterResources: any = null;
  config: any = null;
  priceModifier = 0.00000000000001;
  hoursInMonth = 730;

  @Watch('configuration', { immediate: true, deep: true })
  onConfigurationUpdated(conf: any) {
    if (conf && conf.params && conf.params.profile) {
      this.config = conf;
      this.clusterResources = conf.params.profile.resources;
    }
  }

  cpuPrice(multiplier: number = 1) {
    if (!this.clusterResources) {
      return 0;
    }
    return this.clusterResources.cpu.price.cents * this.priceModifier * this.config.params.cpu * multiplier;
  }

  ramPrice(multiplier: number = 1) {
    if (!this.clusterResources) {
      return 0;
    }
    return this.clusterResources.ram.price.cents * this.priceModifier * this.config.params.ram * multiplier;
  }

  ipPrice(multiplier: number = 1) {
    if (!this.config || !this.config.ip) {
      return 0;
    }
    return this.config.ipPrice.cents * this.priceModifier * multiplier;
  }

  primaryDiscPrice(multiplier: number = 1) {
    if (!this.clusterResources) {
      return 0;
    }
    return (
      this.clusterResources.primary_disk.price.cents * this.priceModifier * this.config.params.primaryDisk * multiplier
    );
  }

  additionalDiscPrice(price: number, multiplier: number = 1) {
    if (!this.clusterResources) {
      return 0;
    }
    return this.clusterResources.primary_disk.price.cents * this.priceModifier * price * multiplier;
  }

  systemPrice(multiplier: number = 1) {
    if (!this.config || !this.config.version) {
      return 0;
    }
    return this.config.version.price.cents * this.priceModifier * multiplier;
  }

  totalPrice(multiplier: number = 1) {
    let additionalDisksPrice = 0;
    if (this.config && this.config.params && this.config.params.additionalDisks.length > 0) {
      additionalDisksPrice = this.config.params.additionalDisks.reduce((value: number, item: any) => {
        return this.additionalDiscPrice(item.value, multiplier) + value;
      }, 0);
    }
    return (
      this.cpuPrice(multiplier) +
      this.ramPrice(multiplier) +
      this.primaryDiscPrice(multiplier) +
      additionalDisksPrice +
      this.ipPrice(multiplier)
    );
  }

  fixPrice(price: number, auto = true) {
    const precision = 1 - Math.floor(Math.log(Math.abs(price)) / Math.log(10));
    return price ? price.toFixed(precision < 2 ? 2 : precision) : 0;
  }
}
</script>

<style lang="scss" scoped>
.summary {
  flex-grow: 0;
  flex-shrink: 0;
  width: 370px;
  margin: 65px 20px;
  .inner {
    border: 1px solid #d6d6d6;
  }
  h2 {
    font-weight: 500;
    margin: 20px;
  }
  .summary-item {
    border-bottom: 1px solid #d6d6d6;
    padding: 10px 0;
    margin: 5px 20px;
    position: relative;
    .value {
      max-width: 95px;
      display: inline-block;
    }
    .title {
      color: #707070;
      width: 118px;
      display: inline-block;
    }
    &.last {
      border-bottom: none;
    }
    .price-info,
    .icon-info-1 {
      position: absolute;
      right: 0;
      bottom: 8px;
      padding: 2px;
    }
    .price-info {
      right: 20px;
    }
    .icon-info-1 {
      bottom: 11px;
      cursor: pointer;
      &:hover .price-info-tooltip {
        display: inline;
        background-color: #f3f3f3;
        border: 1px solid #a4a4a4;
        padding: 7px;
        position: absolute;
        right: -5px;
        top: -40px;
        font-family: 'Roboto', sans-serif;
        &:after {
          content: '';
          background-color: #f3f3f3;
          width: 10px;
          height: 10px;
          position: absolute;
          right: 7px;
          top: 24px;
          transform: rotate(45deg);
          border-bottom: 1px solid #a4a4a4;
          border-right: 1px solid #a4a4a4;
        }
      }
    }
  }
  .price-info-tooltip {
    display: none;
  }
  .summary-cost-section {
    background-color: #f7f7f7;
    height: 78px;
    text-align: right;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    .price-per-month {
      color: #3b3a43;
      font-size: 22px;
      margin: 5px;
      font-weight: 500;
    }
    .price-per-hour {
      color: #999;
      margin: 0;
    }
  }
  .cta-btn {
    background-color: #000;
    color: #fff;
    height: 60px;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 16px;
    box-sizing: border-box;
    .icon-arrow-right {
      font-size: 16px;
    }
  }
}
</style>
