<template>
  <section class="body">
    <Menu></Menu>
    <div class="content">
      <h2><span class="icon-arrow-left"></span>Nowa wirtualna maszyna</h2>
      <div class="separator"></div>
      <OperatingSystemSelector
        v-on:os-selected="selectOS"
        v-on:version-selected="selectVersion"
        :operating-systems="operatingSystems"
      />
      <ClusterParametersSelector
        :operating-system="configuration.system"
        :version="configuration.version"
        v-on:parameters-changed="setParameters"
      />
      <section class="flex-box separator margin-top" v-show="!!configuration.system && !!configuration.version">
        <div class="label">Ilość instancji:</div>
        <input type="number" v-model="instanceNumber" class="instance-quantity" />
        <div class="instance-names">
          <div class="instance" v-for="(instance, index) in configuration.instances" :key="index">
            <label>Nazwa{{ index + 1 }}:</label>
            <input type="text" v-model="configuration.instances[index]" class="instance-name" />
          </div>
        </div>
      </section>
      <section class="flex-box separator" v-show="!!configuration.system && !!configuration.version">
        <div class="label">Autoryzacja:</div>
        <label class="radio-container">
          hasło
          <input type="radio" checked="checked" name="auth-select" value="hasło" v-model="configuration.auth" />
          <span class="checkmark"></span>
        </label>
        <label class="radio-container" @click="isModalShown = true">
          Klucze SSH
          <input type="radio" name="auth-select" value="Klucze SSH" v-model="configuration.auth" />
          <span class="checkmark"></span>
        </label>
      </section>
      <section class="flex-box separator" v-show="!!configuration.system && !!configuration.version">
        <div class="label">Sieć prywatna:</div>
        <select v-model="configuration.network">
          <option v-for="(network, index) in privateNetworks" :key="index" :value="network">
            {{ network.name }} ({{ network.ip_address }})
          </option>
        </select>
      </section>
      <section class="flex-box separator" v-show="!!configuration.system && !!configuration.version">
        <div class="label">Dedykowany publiczny profil ID:</div>
        <label class="switch">
          <input type="checkbox" :value="true" v-model="configuration.ip" />
          <span class="slider round"></span>
        </label>
        <div class="profile-ID-description">
          <p>Powiąż maszynę z nowym adresem publicznym</p>
          <p>Pomiędzy nimi zostanie stworzone mapowanie NAT one-to-one</p>
        </div>
      </section>
      <KeysConfigurationDialog v-if="isModalShown" v-on:on-close="isModalShown = false" />
    </div>
    <NewVirtualMachineSummary :configuration="configuration" />
  </section>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import OperatingSystemSelector from '@/components/new-virtual-machine/OperatingSystemSelector.vue';
import KeysConfigurationDialog from '@/components/new-virtual-machine/KeysConfigurationDialog.vue';
import { newVirtualMachineService } from '@/components/new-virtual-machine/services/NewVirtualMachineService';
import ClusterParametersSelector from '@/components/new-virtual-machine/ClusterParametersSelector.vue';
import NewVirtualMachineSummary from '@/components/new-virtual-machine/NewVirtualMachineSummary.vue';
import Menu from '@/components/common/Menu.vue';

@Component({
  components: {
    ClusterParametersSelector,
    OperatingSystemSelector,
    KeysConfigurationDialog,
    NewVirtualMachineSummary,
    Menu,
  },
})
export default class NewVirtualMachineForm extends Vue {
  isModalShown = false;
  operatingSystems = [];
  privateNetworks = [];
  instanceNumber = 1;
  params = null;
  configuration = {
    instances: [''],
    params: null,
    system: null,
    version: null,
    network: null,
    auth: null,
    ip: false,
    ipPrice: { cents: 0 },
  };

  @Watch('instanceNumber')
  onInstanceNumberChanged(val: number) {
    if (this.configuration.instances.length > val) {
      this.configuration.instances = this.configuration.instances.splice(0, val);
    } else {
      this.configuration.instances = this.configuration.instances.concat(
        new Array(val - this.configuration.instances.length).fill('')
      );
    }
  }

  mounted() {
    newVirtualMachineService.getData().then((data: any) => {
      this.operatingSystems = data.operating_systems;
      this.privateNetworks = data.private_networks;
      this.configuration.ipPrice = data.public_ip_price;
    });
  }

  setParameters(params: any) {
    this.params = params;
    this.configuration.params = params;
  }

  selectOS(system: any) {
    this.configuration.system = system;
  }

  selectVersion(version: any) {
    this.configuration.version = version;
  }
}
</script>

<style lang="scss" scoped>
.content {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 25px 50px;
  input[type='text'],
  input[type='number'],
  select {
    border: 1px solid #d6d6d6;
    padding: 5px 12px;
    box-sizing: border-box;
  }
  h2 {
    font-size: 22px;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #d6d6d6;
    font-weight: 500;
    position: relative;
    letter-spacing: -0.5px;
    .icon-arrow-left {
      position: absolute;
      top: 8px;
      left: -31px;
      font-size: 12px;
    }
  }
  .new-disc-section {
    text-align: right;
    margin-top: -15px;
    .add-new-disc {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      line-height: 28px;
      width: 124px;
      height: 30px;
      border: 1px solid #009cf2;
      background-color: #fff;
      color: #009cf2;
      cursor: pointer;
    }
    .info {
      display: inline-block;
      font-size: 11px;
      margin-left: 18px;
      margin-right: 10px;
    }
  }

  .flex-box {
    display: flex;
    padding-bottom: 15px;

    .label {
      width: 135px;
      text-align: right;
      line-height: 26px;
      margin-right: 34px;
      padding-top: 5px;
    }
    .label-first {
      padding-top: 20px;
    }

    &.separator {
      border-top: 1px solid #d5d5d5;
      padding: 25px 0;
    }
    &.margin-top {
      margin-top: 29px;
    }
    .instance-quantity {
      width: 60px;
      height: 30px;
      text-align: center;
    }
    .instance-names {
      width: 400px;
      margin-left: 65px;
      label {
        display: inline-block;
        margin-right: 20px;
      }
      .instance-name {
        width: 316px;
        margin: 3px 0;
        height: 30px;
      }
    }
    .switch {
      margin-top: 15px;
    }
    .profile-ID-description p {
      margin: 6px;
      padding: 0;
    }
  }
}

// custom radio buttons

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.radio-container {
  display: block;
  position: relative;
  padding: 3px 24px 0 35px;
  margin-top: 6px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
      background-color: #2196f3;
    }
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    &:after {
      top: 6px;
      left: 6px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: white;
    }
  }
}

// custom switch toggle

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #c7c2c2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 0;
    bottom: 0;
    background-color: #ccc;
    background-image: none;
    background-repeat: repeat;
    background-position: center center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:checked + .slider:before {
  background-color: #2196f3;
  background-image: url('../../assets/icons/ok.png');
  background-repeat: no-repeat;
  background-position: center center;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
