<template>
  <div>
    <section class="flex-box">
      <div class="label label-first">Wybierz system operacyjny:</div>
      <div class="operating-systems-box">
        <div
          v-for="(system, index) in operatingSystems"
          :key="system.id"
          class="operating-system"
          ref="in"
          @click="osSelected(system)"
          :class="{ active: operatingSystemSelected.id === system.id, visible: index < 6 || isAllSystemsShown }"
        >
          <img :src="system.image" alt />
        </div>
        <div
          class="operating-system"
          :class="{ visible: !isAllSystemsShown }"
          v-if="operatingSystems.length > 6"
          @click="isAllSystemsShown = true"
        >
          <img src="/public/imgs/more.png" alt />
        </div>
      </div>
    </section>
    <section class="flex-box">
      <div class="label">Wybierz wersję:</div>
      <div class="custom-select icon-arrow-down">
        <select class="version-select" v-if="operatingSystemSelected.id === -1" disabled>
          <option selected disabled>wybierz wersję</option>
        </select>
        <select
          required
          class="version-select"
          :class="{ active: selectedVersion !== 'no-value' }"
          v-if="operatingSystemSelected.id > -1"
          v-model="selectedVersion"
        >
          <option selected disabled value="no-value">wybierz wersję</option>
          <option v-for="version of operatingSystemSelected.versions" :key="version.id" :value="version">{{
            version.name
          }}</option>
        </select>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Watch, Vue } from 'vue-property-decorator';

@Component({
  props: ['operatingSystems'],
})
export default class OperatingSystemSelector extends Vue {
  operatingSystemSelected: any = { id: -1, versions: [] };
  selectedVersion = 'no-value';
  isAllSystemsShown = false;

  @Watch('selectedVersion')
  onSelectedVersionChanged(val: any) {
    if (val) {
      this.versionSelected();
    }
  }

  @Emit()
  osSelected(system: any) {
    this.operatingSystemSelected = system;
    this.selectedVersion = 'no-value';
    return system;
  }

  @Emit()
  versionSelected() {
    if (this.selectedVersion) {
      return this.selectedVersion;
    }
  }
}
</script>

<style lang="scss" scoped>
.flex-box {
  display: flex;
  padding-bottom: 15px;

  .label {
    width: 135px;
    text-align: right;
    line-height: 26px;
    margin-right: 34px;
    padding-top: 5px;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .label-first {
    padding-top: 20px;
  }

  &.separator {
    border-top: 1px solid #d5d5d5;
    padding: 25px 0;
  }
  &.margin-top {
    margin-top: 29px;
  }
}

.operating-system {
  margin-right: 9px;
  border: 1px solid #d6d6d6;
  margin-top: 13px;
  height: 61px;
  display: none;
  &.visible {
    display: inline-block;
  }
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  &:hover {
    border: 1px solid #979797;
  }
  &.active {
    border: 1px solid #009cf2;
    img {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
  &.active,
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

.custom-select {
  min-width: 170px;
  overflow: hidden;
  position: relative;
  border: 1px solid #d6d6d6;
  cursor: pointer;
  &.icon-arrow-down:before {
    position: absolute;
    color: #b5b5b5;
    font-size: 8px;
    top: 12px;
    right: 12px;
  }
  .version-select {
    font-size: 15px;
    width: 100%;
    padding-right: 35px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    color: #b5b5b5;
    font-style: italic;
    &.active {
      color: #000;
    }
    option {
      color: #000;
    }
    option[disabled] {
      display: none;
    }
  }
  .version-select:focus {
    outline: none;
  }
}
</style>
