<template>
  <div>
    <Header></Header>
    <InfoBar></InfoBar>
    <NewVirtualMachineForm></NewVirtualMachineForm>
  </div>
</template>

<script lang="ts">
import Header from '@/components/common/Header.vue';
import InfoBar from '@/components/common/InfoBar.vue';
import NewVirtualMachineForm from '@/components/new-virtual-machine/NewVirtualMachineForm.vue';

export default {
  name: 'NewVirtualMachine',
  components: {
    NewVirtualMachineForm,
    Header,
    InfoBar,
  },
};
</script>

<style lang="scss" scoped>
section.body {
  display: flex;
}
</style>
