<template>
  <header>
    <div class="action">
      <i class="icon-reload"></i>
    </div>
    <h1>
      INTRATEL
      <span class="icon-settings"></span>
    </h1>
    <div class="user">
      Witaj, Rafał Niewiński
      <a href="">
        <span class="icon-profile"></span>
        <span class="icon-arrow-down"></span>
      </a>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Header extends Vue {}
</script>

<style lang="scss" scoped>
header {
  background: rgba(16, 16, 158, 1);
  background: -moz-linear-gradient(left, rgba(16, 16, 158, 1) 0%, rgba(0, 156, 242, 1) 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(16, 16, 158, 1)),
    color-stop(100%, rgba(0, 156, 242, 1))
  );
  background: -webkit-linear-gradient(left, rgba(16, 16, 158, 1) 0%, rgba(0, 156, 242, 1) 100%);
  background: -o-linear-gradient(left, rgba(16, 16, 158, 1) 0%, rgba(0, 156, 242, 1) 100%);
  background: -ms-linear-gradient(left, rgba(16, 16, 158, 1) 0%, rgba(0, 156, 242, 1) 100%);
  background: linear-gradient(to right, rgba(16, 16, 158, 1) 0%, rgba(0, 156, 242, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10109e', endColorstr='#009cf2', GradientType=1);
  height: 67px;
  position: relative;

  .action {
    position: absolute;
    left: 0;
    top: 0;
    width: 67px;
    height: 67px;
    border-right: 1px solid #5a5ebe;
    color: #fff;
    text-align: center;
    line-height: 67px;
    font-size: 16px;
  }

  h1 {
    position: absolute;
    left: 90px;
    top: 21px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-size: 22px;

    .icon-settings {
      margin-left: 10px;
      display: inline-block;
      color: #fff;
      font-size: 18px;
    }
  }

  .user {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px 25px 0 25px;
    border-left: 1px solid #55aeed;
    height: 42px;
    color: #fff;

    a span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      color: #fff;
      &.icon-profile {
        font-size: 24px;
      }
      &.icon-arrow-down {
        font-size: 8px;
      }
    }
  }
}
</style>
