<template>
  <section class="info-bar">
    <select class="localization-select">
      <option>USA-SV</option>
    </select>
    <div class="info-parameter">
      <div class="progres"><i style="height: 50%;"></i></div>
      <div class="title">vCPU</div>
      <div class="data">12/14</div>
    </div>
    <div class="info-parameter">
      <div class="progres"><i></i></div>
      <div class="title">RAM</div>
      <div class="data">90/140 GB</div>
    </div>
    <div class="info-parameter">
      <div class="progres"><i></i></div>
      <div class="title">Przestrzeń dyskowa</div>
      <div class="data">1200/1400 GB</div>
    </div>
    <div class="info-parameter">
      <div class="progres"><i></i></div>
      <div class="title">Maszyny wirtualne</div>
      <div class="data">13/4</div>
    </div>
    <div class="info-parameter">
      <div class="progres"><i></i></div>
      <div class="title">Maszyny dedykowane</div>
      <div class="data">12/14</div>
    </div>
    <div class="info-parameter">
      <div class="progres"><i></i></div>
      <div class="title">Sieci publiczne</div>
      <div class="data">12/14</div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class InfoBar extends Vue {}
</script>

<style lang="scss" scoped>
.info-bar {
  display: flex;
  height: 65px;
  background-color: #363636;
  .localization-select {
    width: 260px;
    height: 36px;
    background-color: #282828;
    border: 1px solid #696969;
    margin: 15px 40px;
    color: #fff;
  }
  .info-parameter {
    position: relative;
    padding-left: 15px;
    color: #e9e9e9;
    margin-top: 10px;
    padding-top: 5px;
    padding-right: 30px;

    .progres {
      border: 1px solid #696969;
      width: 7px;
      height: 38px;
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      i {
        background: #ccc
          url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAACCAYAAACUn8ZgAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAlSURBVHjaYhRJ6v3/xiqVAR2IHJvNwKihofGfAQcAAAAA//8DABMEBnw9053UAAAAAElFTkSuQmCC')
          repeat-y;
        width: 7px;
        content: '';
        height: 70%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .data {
      font-weight: 500;
    }
  }
}
</style>
