<template>
  <ul class="navigation">
    <li>
      <a class="active menu-item" href="#"><span class="icon-cloud-1"></span>MASZYNY WIRTUALNE</a>
    </li>
    <li>
      <a href="" class="menu-item"><span class="icon-server"></span>MASZYNY FIZYCZNE</a>
    </li>
    <li class="sub-menu" :class="{ active: isNetworkMenuActive }">
      <a @click="toggleNetworkMenu()" class="menu-item"><span class="icon-language"></span>SIEĆ</a>
      <span class="icon-arrow-up"></span>
      <ul>
        <li><a href="#">Publiczny adres IP</a></li>
        <li><a href="#">Sieci prywatne</a></li>
        <li><a href="#">Routing</a></li>
        <li><a href="#">Firewall</a></li>
      </ul>
    </li>
    <li>
      <a href="" class="menu-item"><span class="icon-security"></span>VPN</a>
    </li>
    <li>
      <a href="" class="menu-item"><span class="icon-from"></span>FORMULARZ POMOCY</a>
    </li>
    <li>
      <a href="" class="menu-item"><span class="icon-settings"></span>USTAWIENIA REGIONU</a>
    </li>
  </ul>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Menu extends Vue {
  isNetworkMenuActive = false;
  toggleNetworkMenu() {
    this.isNetworkMenuActive = !this.isNetworkMenuActive;
  }
}
</script>

<style lang="scss" scoped>
.navigation {
  width: 237px;
  flex-grow: 0;
  flex-shrink: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fafafd;
  min-height: 100vh;
  li {
    &.sub-menu {
      position: relative;
      &.active {
        a {
          border-bottom: none;
        }
        ul {
          display: block;
          margin-left: 10px;
          margin-top: -10px;
          margin-left: 0;
          li {
            padding-bottom: 10px;
            a {
              color: #000;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .icon-arrow-up {
          display: block;
          position: absolute;
          top: 30px;
          left: 200px;
          font-size: 8px;
          color: #636364;
        }
      }
      ul,
      .icon-arrow-up {
        display: none;
      }
    }
    &:hover {
      background-color: #f1f1f1;
    }
    .menu-item {
      cursor: pointer;
      padding: 25px 20px 25px 50px;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      border-bottom: 1px solid #dedede;
      font-size: 16px;
      font-weight: 500;
      position: relative;
      span {
        position: absolute;
        left: 15px;
        top: 22px;
        font-size: 22px;
      }
      &.active {
        background: #009cf2;
        color: #fff;
      }
    }
    ul {
      padding-bottom: 20px;
      border-bottom: 1px solid #dedede;
      list-style: none;
    }
  }
}
</style>
