<template>
  <div id="app">
    <div id="nav" v-if="false">
      <router-link to="/home">Home</router-link> |
      <router-link to="/">New Virtual Machine</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
@import 'assets/fonts/style.css';
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav {
  position: fixed;
  top: 0;
  left: 45%;
  background: #fff;
  padding: 15px;
  z-index: 10;
}
</style>
